<!DOCTYPE html>
<html>
  
  <head> 
    <link rel="stylesheet" type="text/css" href="./style.css">
    <center><h1>The Caffeine Doper</h1></center>
  </head>
  
  <body>
    
    <form action="/results" method="post">
      <center><p> What is your caffeine tolerance level? <br>
      <select name="tolerance">
        <option value="---------">---------</option>
        <option value="high">high</option>
        <option value="medium">medium</option>
        <option value="low">low</option>
      </select>
      </p></center>

    
    
      <center><p> How long do you expect your day to be? <br>
      <select name="day">
        <option value="-------">-------</option>
        <option value="long">long</option>
        <option value="short">short</option>
      </select>
      </p></center>
 
    
   
       <center><p> How many hours of sleep did you get last night? <br>
         <input type="text" name="hours"></p></center>

    
    
   
      <center><input type="submit" value="Enter"></center>
      </form>
  </body>
</html>