<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="./style.css">
  <center><h1><b>The Caffeine Doper </b></h1><br>
    </center>
  </head>
  <body>
    <center><h3>Welcome to the caffeine doper. Due to your incredibly bad choice to stay up late you now require my assistance. I am here to help you achieve a productive and enjoyable day.<br>
    Find out how much caffeine you need to survive the day!<h3></center>
    
      <form action="/form" method="get" > <br>
         <center><input type="submit" id="button" value="Let's get drugged up!"></center> 
    </form>
  </body>
</html>