
<!DOCTYPE html>
<html>
  
  <head> 
    <link rel="stylesheet" type="text/css" href="./style.css">
   <center><h1>The Caffeine Doper</h1></center>
  </head>
  <body>

    <center><h2>-Results-</h2></center>
    <br>
<%=@suggestion%>
    

  </body>
</html>
